<!DOCTYPE html>
<%= yield %>
<body>
  <div class="container-fluid">
  <h2>Executive</h2>
  <div class="row">
    <div class="col-sm-3">
      <p>President</p>
      <p>Andrea Lombard</p>
      <%= link_to image_tag("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAATjAAAAJGRkZjU3MGNlLTY3MTgtNDAwYy1hMTg2LTI4NTE4MGJmMzRhYw.jpg", id: "who_we_are"),
      "https://www.linkedin.com/in/andrealombard" %>
      </div>

      <div class="col-sm-3">
      <p>Vice President</p>
      <p>Gresshaa Mehta</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAebAAAAJDhkN2FiZGY4LWNlM2QtNDA3OC04NGIzLTFiMGMwZmJlM2QxOQ.jpg", id: "who_we_are"),
        "https://www.linkedin.com/in/gresshaa" %>
      </div>

      <div class="col-sm-3">
      <p>Chief of Staff</p>
      <p>Jennifer Tam</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>Secretary</p>
      <p>Apoorva Arya</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAPOAAAAJGI3YTk1ZDRlLWVjY2QtNDA5Mi04NjdhLTc0OThkOGMzZmM0MQ.jpg", id: "who_we_are"),
        "https://www.linkedin.com/in/aryaapoorva" %>
      </div>

      <div class="col-sm-3">
      <p>Tech Share Director</p>
      <p>Maia Rosengarten</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAelAAAAJDg1ODk5ZmZkLWU5MzktNDlkYi1hN2YyLTQ3MDkwYmZmMTU0NQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/chelseaac" %>
      </div>

      <div class="col-sm-3">
      <p>Tech Make Director</p>
      <p>Chelsea Chen</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAmHAAAAJGQ0NmVjMjNiLWQ2NDYtNDM5Ny1iMzA2LTUxZmU4ZTFhOWM3YQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/chelseaac" %>
      </div>

      <div class="col-sm-3">
      <p>Finance</p>
      <p>Anita Chan</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAfpAAAAJDE0ZjFiMzgzLTMwN2MtNGY1OC05ZjczLTczNzM3ZmU1ODVlMQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/anita-chan" %>
      </div>

      <div class="col-sm-3">
      <p>Outreach</p>
      <p>Emily Orosco</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAkCAAAAJGMwMmYzY2U1LWIwM2ItNGRmYS1hM2M4LTllMTE4MWU5YTc5YQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/emily-orosco-nu%C3%B1ez-3a095b114?authType=NAME_SEARCH&authToken=2WgI&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A480120168%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1478718051148%2Ctas%3Aemily%20" %>
      </div>

      <div class="col-sm-3">
      <p>Social Media</p>
      <p>Karen Rodriguez-Ponciano</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAYNAAAAJDFlMDRiZjdiLTk1ZDItNGI1Yy1iYWI5LThiMzJmMzk4MzQyOA.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/krodriguezponciano" %>
      </div>

      <div class="col-sm-3">
      <p>Diversity Outreach</p>
      <p>Diana Arteaga</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAASPAAAAJDU3YmFjYzZmLTI2MTMtNGQ2NC04MTk2LTczMTljODllOWMxNA.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/dianart" %>
      </div>

      <div class="col-sm-3">
      <p>Multimedia</p>
      <p>Elizabeth Moss</p>
      <%= link_to image_tag("https://media.licdn.com/media/p/1/005/01b/325/11adc38.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/elizabeth-moss-4434ba55" %>
      </div>
      </div><br>

      <h2>Officers</h2>
      <div class="row">

      <div class="col-sm-3">
      <p>Tech Talk Coordinator</p>
      <p>Allison Mock</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>Tech Share Coordinator</p>
      <p>Lucy Xiao</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAQuAAAAJGRiZGNmMTIwLWY1N2EtNGMzOC04MTQ1LWZmOTVkMjFlZDk4ZA.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/lucygxiao" %>
      </div>

      <div class="col-sm-3">
      <p>Tech Share Coordinator</p>
      <p>Uma Krishnan</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAg5AAAAJDJjZjBmYzhhLWM0NGYtNGE5NS1iMjk1LTdmY2E4MDc4Y2MzOQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/uma-krishnan" %>
      </div>

      <div class="col-sm-3">
      <p>Finance</p>
      <p>Kate Xu</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAgiAAAAJDZhOWM2ODMxLWZiYWItNGU0MS1iYWQyLTUzYWVjMzYxNGIyYQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/kate-shijie-xu-666b57110" %>
      </div>

      <div class="col-sm-3">
      <p>Outreach Coordinator</p>
      <p>Cyan Bastianns</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>Outreach Coordinator</p>
      <p>Lisanne Van Engelen</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "https://www.linkedin.com/in/lisanne-van-engelen" %>
      </div>

      <div class="col-sm-3">
      <p>Outreach Coordinator</p>
      <p>Lisanne Van Engelen</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "https://www.linkedin.com/in/lisanne-van-engelen" %>
      </div>

      <div class="col-sm-3">
      <p>Social Media Manager</p>
      <p>Zoe Edington</p>
      <%= link_to image_tag("https://media.licdn.com/media/p/5/005/0a1/0fc/2062a45.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/zkedington" %>
      </div>

      <div class="col-sm-3">
      <p>Social Media Manager</p>
      <p>Jacqueline Tsang</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAdkAAAAJDAwM2RjYjhjLWMzYmQtNGUwYi1iZjE1LTk2YTRiN2QxY2YzNA.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/tsangjacqueline" %>
      </div>
    </div>

      <h2>New Officers</h2>
      <div class="row">

      <div class="col-sm-3">
      <p>Historian/Writer</p>
      <p>Diana Tu</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAi8AAAAJDFlN2MwYzQyLTAzZGYtNDJhNC05ZWQ2LTIwNGZmZWVmNThkMg.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/diana-tu" %>
      </div>

      <div class="col-sm-3">
      <p>Social Media Manager</p>
      <p>Elise Xu</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAh4AAAAJDEyODA5MzZlLTEwMDItNGM3NC04YWE3LTcyMTE4OGYxZTU0OA.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/elise-xu-9a2a89bb" %>
      </div>

      <div class="col-sm-3">
      <p>Finance Officer (Sponsorship)</p>
      <p>Gabby Lin</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>Outreach Coordinator</p>
      <p>Jessica Kam</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>CS Tutor Team Lead</p>
      <p>Katie Li</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>Finance Officer (Sponsorship)</p>
      <p>Mahira Dayal</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAddAAAAJDQxZDQ4NTUzLTMwNjUtNGRiMy1hMDhmLWZjNWZlMTZkNmQ0NQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/mahiradayal" %>
      </div>

      <div class="col-sm-3">
      <p>FEMTech Talk Coordinator</p>
      <p>Marcella Depenzio</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>Content Writer</p>
      <p>Michelle Verghese</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "" %>
      </div>

      <div class="col-sm-3">
      <p>Graphic Designer</p>
      <p>Nick Cheng</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAlbAAAAJGJjMmU0ZjQzLWVmYzgtNDJkNS1iZTQzLTI0MGNjZTlkZDFkNw.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/chengnick" %>
      </div>

      <div class="col-sm-3">
      <p>CS Tutor Lead & Graphic Designer</p>
      <p>Sonia Uppal</p>
      <%= link_to image_tag("https://media.licdn.com/media/AAEAAQAAAAAAAAL_AAAAJGNmMzM0ZTUwLWY1MzAtNDAzZS05NDVkLTliZTI5ZjgzMjk2OQ.jpg", id: "who_we_are"),
          "https://www.linkedin.com/in/soniau" %>
      </div>

      <div class="col-sm-3">
      <p>CS Tutor</p>
      <p>Yijin Hua</p>
      <%= link_to image_tag("", id: "who_we_are"),
          "https://www.linkedin.com/in/yijinhua" %>
      </div>
      </div>


  <h2>Supporters</h2>
  <div class="row">
    <div class="col-sm-3">
      <%= link_to image_tag("who_we_are/supporter/citrus.png", alt: "citrus", id: "who_we_are"),
          "http://citris-uc.org/campus/uc-berkeley/" %>
    </div>
    <div class="col-sm-3">
        <%= link_to image_tag("who_we_are/supporter/humanrights.png", alt: "humanrights", id: "who_we_are"),
            "https://www.law.berkeley.edu/research/human-rights-center/" %>
    </div>
    <div class="col-sm-3">
      <%= link_to image_tag("who_we_are/supporter/eecs.jpg", alt: "eecs"),
          "https://eecs.berkeley.edu/" %>
    </div>
  </div>

  <h2>Advisory Board</h2>
  <div class="row">
    <div class="col-sm-3">
      <p>Alexa Koenig</p>
      <%= link_to image_tag("https://www.law.berkeley.edu/wp-content/uploads/2015/04/Alexa-Koenig-headshot-1-768x664.jpg", id: "who_we_are"),
          "https://www.law.berkeley.edu/research/human-rights-center/about-hrc/faculty-staff/alexa-koenig/" %>
      </div>

      <div class="col-sm-3">
      <p>Kony Kim</p>
      <%= link_to image_tag("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAj-AAAAJGFkZTA4YjQ3LWNhYzAtNGUwMy1hMjdmLWZiMTc1MDM1MGQ0Zg.jpg", id: "who_we_are"),
      "https://www.linkedin.com/in/konykim" %>
      </div>

      <div class="col-sm-3">
      <p>Keith Hiatt</p>
        <%= link_to image_tag("who_we_are/advisory/keith.jpg", id: "who_we_are"),
        "https://www.law.berkeley.edu/php-programs/jsp/fileDL.php?fID=4823" %>
      </div>

      <div class="col-sm-3">
      <p>Dan Garcia</p>
      <%= link_to image_tag("https://people.eecs.berkeley.edu/~ddgarcia/gifs/DanGarciaUCBFaculty2004.jpg", id: "who_we_are"),
      "https://people.eecs.berkeley.edu/~ddgarcia/" %>
      </div>

      <div class="col-sm-3">
      <p>Jacqueline Nguyen</p>
      <%= link_to image_tag("who_we_are/advisory/Jacqueline.jpg", id: "who_we_are"),
      "https://www.facebook.com/Energant/?pnref=about.work" %>
      </div>

      <div class="col-sm-3">
        <p>Brandie Nonnecke</p>
        <%= link_to image_tag("who_we_are/advisory/Brandie.jpg", id: "who_we_are"),
        "https://nonnecke.com/" %>
      </div>

  </div>
  </div>
</div>
</body>
