<!DOCTYPE html>
<html lang ="en">
<%= favicon_link_tag 'logo.jpg' %>
<head>
  <title>Femtechberkeley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <div class="container-fluid">
    <div class="navbar-header" id="logospace">
      <%= link_to image_tag("logo.jpg", alt: "logo", id: "logo"),
          root_path %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Who We Are", who_we_are_path %></li>
        <li><%= link_to "FEM Tech Series", femtech_series_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Blog", "http://femtechberkeley.tumblr.com/" %></li>
      </ul>
    </div>
  </div>
</head>
<body>
<%= yield %>
</body>

<footer class="container-fluid text-center">
    <!-- <p><span class="glyphicon glyphicon-phone"></span> Phone: 714-588-5543</p> -->
    <p><span class="glyphicon glyphicon-envelope"></span> Email: femtechberkeley@gmail.com</p>
  <%= link_to image_tag("footer/facebook.png", alt: "facebook", id: "icon"),
      "https://www.facebook.com/FEMTechBerkeley" %>

  <%= link_to image_tag("footer/twitter.png", alt: "twitter", id: "icon"),
      "https://twitter.com/FEMTechBerkeley" %>

  <%= link_to image_tag("footer/instagram.png", alt: "instagram", id: "icon"),
      "https://www.instagram.com/femtechberkeley" %>

  <p>© FEM Tech Berkeley | Misaki Matsumoto</p>
</footer>

</html>
